.AccountPage-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "bio pic" 
}

.user-info {
  padding: 20px;
  grid-area: "bio";
  height: 100%;
}

.user-photo{
  grid-area: "photo";
  display: flex;
  flex-direction: column;
  place-items: center;
}

.picture{
  height: 70%;
  width: 60%;
  border: 1px solid black;
}

/* .picture-buttons{ */
/* } */


