.AnnouncementsWidget{
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 30px;
  border: 2px solid darkblue;
  border-radius: 25px;
  width: 95%;
  height: 100%;
  overflow-y: auto;
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 1201px) {
  .AnnouncementsTitle{
    color:blue;
    align-self: center;
    font-size: 1em;
  }
  .AnnouncementStory #ann-date{
    width: 90%;
    font-size: 0.5em;
    color: lightblue;
    border-top: 1px solid black;
  }

  .AnnouncementStory #ann-content{
    padding: 20px;
    font-size: .8em;
    color: grey;
  }

}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 1200px) {

  .AnnouncementsTitle{
    color:blue;
    align-self: center;
    font-size: 1rem;
  }
  .AnnouncementStory #ann-date{
    width: 90%;
    font-size: 0.5rem;
    color: lightblue;
    border-top: 1px solid black;
  }

  .AnnouncementStory #ann-content{
    padding: 20px;
    font-size: .8rem;
    color: grey;
  }

}

