.AnnouncementsWidget{
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 30px;
  border: 2px solid darkblue;
  border-radius: 25px;
  width: 95%;
  height: 100%;
  overflow-y: auto;
}



  .AnnouncementsTitle{
    color:blue;
    align-self: center;
    font-size: 2em;
  }
  .AnnouncementStory #ann-date{
    width: 90%;
    font-size: 0.5em;
    color: lightblue;
    border-top: 1px solid black;
  }

  .AnnouncementStory #ann-content{
    padding: 20px;
    font-size: 1em;
    color: grey;
  }

