.Dashboard{
  display: grid;
  grid-template-columns: 45% 5% 1fr;
  grid-template-rows: 10% 15% 15% 5% 30% 1fr;
}
.Navbar{
	grid-column: 1/none;
	grid-row: 1/1;
}
.Milestone{
  grid-column: 1/none;
  grid-row: 2/2;
}
.DashboardCards{
  grid-column: 1/none;
  grid-row: 3/3;
}
.RecentLeads{
  grid-column: 1/1;
  grid-row: 5/5;
}
.RecentBorrowers{
  grid-column: 1/1;
  grid-row: 6/6;
}
.AnnouncementsWidget{
  grid-column: 3/3;
  grid-row: 5/6;
}


