.DashboardCards{
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 90%;
  overflow: hidden;
}
.dashboard-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  column-gap: 30%;
  /* height: 100%; */
  width: 20%;
  margin: 10px;
  border: 3px solid lightblue;
  font-size: 20px;
}

.card-title{
  flex: 1 0;
  width: 50%;
}

.card-filter{
  flex: 1 0;
  margin: 5px;
  width: 30%;
}


.card-value{
  flex: 1 0 100%;
  color: blue;
  font-size: 50px;
  align-self: stretch;
  align-content: center;
  margin: auto;
  font-weight: bold;
  text-align: center;
}


