.blkMilestone {
  background: black;
  padding: 35px 0 20px 0;
  border-radius: 30px;
  margin: 15px 0;
}

.Milestone-Title {
  color: black;
  font-weight: bold;
  font-size: 19px !important;
}
.Milestone-Title:hover {
  color: lightgray;
}
.Milestone h1:hover {
  color: white;
}
/* .Milestone{
  background: black;
  height: 100%;
  width: 95%;
  display: flex;
  justify-self: center;
  overflow: hidden;
} */
