.RecentLeads{
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px;
  height: 100%;
}

.RecentLeadsTable{
  position: relative;
  overflow-y:auto;
  overflow-x:auto;
}
.RecentLeadsData{
  width: 100%;
  margin: 0;
  padding: 0;
}

.RecentLeadsData li{
  height: 5%;
  width: 20%;
  padding: 15px;
  display:inline-block;
  border-bottom: 1px solid black;
  font-size: 1vw;
}
ol{
  list-style-type:none ;
}

.RecentLeadsColumnNames{
  padding: 5px;
  display: inline-block;
  text-align: left;
  border-bottom: 1px solid black;

}
.RecentLeadsColumnNames ol{
    font-size: 1vw;
    overflow-x:auto;
    border-bottom: 1px solid black;
}
.RecentLeadsColumnNames li{
  display: inline-block;
  height: 5%;
  width: 20%;
  font-weight: bold;
  font-size: 1vw;
}

.RecentLeadsTitle{
  background: rgba(13, 57, 122, 1);
  font-size: 1.2vw;
  height: 30px;
  font-weight: bold;
  color: white;
}

