<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content=""width=device-width, initial-scale="1.0">
        
        <title> About Us | LWM </title>
        <link rel="stylesheet" href="styles.css">
        
    </head>
    <body> 
       <div class = "legal-bg"></div>
       <div class = "legal-container"> 
           <h1 class = "legal_navbar_h1">
               Liberty Wholesale Mortgage
           </h1>
       </div>
        <div class="legal-box">
        <div class="legal_text">
            
            <h2 class = "legal_text_h2"> About Us</h2>
            <p> A statement about Us</p>
            

            <h4 class = "legal_text_h4">About the Company</h4>
            <p> Place information about the company here. Information about its purpose. 
                The company's role. The company's history. The founder's history.
                Or anything else the company wants the people to know.</p>
    

                <h4 class = "warning_text"> Replace these terms and conditons when reciving the actual one </h4>
                <p> Can add more information below. This text is for demostration purposes</p>
           
        
    </div>
</div>
    </body>
</html>

</html>