@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.legal-bg {
    background: url("background.png");
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    z-index: -1; 

}

.legal-container{
    height: 100vh;
    width: auto;
    background-position: left;
    background-size: cover;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%; 
    box-sizing: border-box;
    position: absolute;  
    margin-top: 5px;

}

.legal-navbar{
    width: auto;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: left; 
    justify-content: left;
    margin: 0;
    
    
}

.legal_navbar_h1 {
    font-size: 35px;
    font-family: 'Inter';
    text-align: left;
    color: white;

}

.legal-box{
    max-width: 1300px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-family: "Arial"; 
    padding: 0 20px;
    height: 500px; 
    overflow-y: auto;
    font-size: 20px;
    margin-bottom: 0;
}


.legal_text {
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 20px;
    font-weight: 500;
    color: #111;

}

.legal_text_h2{
    font-size: 30px;
    text-transform: uppercase;
}


.legal_text_h4 {
    font-size: 25px;
    text-align: left;
    padding: 0 10px; 
}

.warning_text {
    font-size: 30px;
    color: red; 
}

.legal_btn {
    display: inline-block;
    background: rgba(24, 185, 96, 0.63);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    
  }


